<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../resources/static/index/css/placeholderStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
<p>Hello</p>
<form th:action="@{/create}" method="post">

    <h3>name <input type="text" name="username"> password
        <input type="password" name="password"></h3>
    <h3>birthday<input type="number" name="birthDay">
        birthmonth<input type="number" name="birthMonth">
        birthyear<input type="number" name="birthYear"></h3>
    <input type="submit" name="create" value="create">
    <input type="submit" name="friendPage" value="friendPage">
</form>


<h3>date<input type="date"></h3>
<div class="fallbackDatePicker">
    <form>
        <div class="nativeDatePicker">
            <label for="bday">Enter your birthday:</label>
            <input type="date" id="bday" name="bday"/>
            <span class="validity"></span>
        </div>

        <p class="fallbackLabel">Enter your birthday:</p>
        <div class="fallbackDatePicker">
    <span>
      <label for="day">Day:</label>
      <select id="day" name="day">
        <option selected>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
          </select>
    </span>


            <span>
      <label for="month">Month:</label>
      <select id="month" name="month">
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option selected>November</option>
        <option>December</option>
      </select>
    </span>
            <span>
      <label for="year">Year:</label>
      <select id="year" name="year"></select>
    </span>
        </div>

    </form>
</div>


</body>
</html>